.overview {
    height: 85px;
}
.overview ul {
    display: flex;
    justify-content: space-between;
}
.overview ul li h3 {
    font-size: 20px;
    color: #fff;
}
.overview ul li span {
    font-size: 5.6px;
    color: #4c9bfd;
    position: relative;
    top: 10px;
}
